:root{
    --background:rgb(14, 17, 22);
    --lighter-background:rgb(32, 38, 48);
    --lighter-background-transparent:rgba(32, 38, 48,0.7);
    --green: rgb(109, 136, 103);
    --green2: rgb(77, 96, 72);
    --green-transparent: rgba(109, 136, 103,0.7);
    --dim-green: rgb(75, 193, 49);
    --blue: rgb(103, 110, 136);
    --blue2: rgb(61, 66, 81);
    --blue-transparent: rgba(103, 110, 136,0.7);
    --dim-blue: rgb(36, 62, 170);
    --dark-blue: rgb(19, 49, 81);
    --dark-blue2: rgb(12, 32, 53);
    --dark-blue-transparent: rgba(19, 49, 81,0.7);
    --red: rgb(159, 85, 76);
    --red2: rgb(106, 57, 51);
    --red-transparent: rgba(159, 85, 76,0.7);
    --dim-red: rgb(186, 46, 29);
    --yellow: rgb(197, 146, 88);
    --yellow2: rgb(156, 118, 76);
    --yellow-transparent: rgba(215, 164, 105,0.7);
    --dim-yellow: rgb(213, 129, 32);
    --black: rgb(26, 26, 26);
    --grey: rgb(103, 103, 103);
    --grey2: rgb(71, 71, 71);
}
body.dark {
    background: var(--background);
    color:#ccc;
}
body:not(.dark) {
    background: #eee;
}
body{
    margin: 0;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    height:100vh;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}
.nav{
    display:flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background:var(--lighter-background-transparent);
    backdrop-filter: blur(10px);
    position:fixed;
    bottom:20px;
    left:50%;
    z-index:1000;
    transform: translateX(-50%);
    border-radius:100000px;
}
.nav .btn{
    width:50px;
    height:50px;
    cursor:pointer;
    padding-inline:10px;
    border-radius:10px;
    transition: background 0.1s;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1;
    box-sizing: border-box;
}
.nav .btn span{
    white-space: nowrap;
    font-size:0.5em;
}
.nav .btn:hover{
    background:#333;
}
body:not(.dark) .nav .btn:hover{
    background:#ccc;
}
.nav .btn:active{
    background:#444;
}
body:not(.dark) .nav .btn:active{
    background:#bbb;
}
.nav .btn svg{
    width:100%;
    height:100%;
    color:#ccc;
    transition: width 0.05s, height 0.05s;
}
body:not(.dark) .nav .btn svg{
    color:#777;
}
.nav .btn.back svg{
    width:100%;
}
.nav .btn:hover svg{
    width:90%;
    height:90%;
}
.nav .btn:active svg{
    width:80%;
    height:80%;
}

button{
    padding:10px;
    border-radius:10px;
    background: rgb(27, 33, 44);
    color:#fff;
    border:0;
    font-size:20px;
    cursor:pointer;
    transition: opacity 0.1s;
}
button:hover{
    opacity:0.9;
}
button.pill {
    color: rgb(255, 60, 170);
    background-color: rgb(255, 223, 239);
    border:1px solid rgb(220, 192, 206);
    box-shadow: rgba(50, 50, 93, 0.05) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.15) 0px 18px 36px -18px inset;
    box-sizing: border-box;
}
body.dark .pill{
    box-shadow: rgba(50, 50, 93, 0.10) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.pill.pink {
    color: rgb(255, 60, 252);
    background-color: rgb(254, 223, 255);
    border:1px solid rgb(220, 192, 206);
}

.pill.orange {
    color: rgb(255, 141, 60);
    background-color: rgb(255, 236, 223);
    border:1px solid rgb(221, 204, 193);
}
.pill.green{
    color: rgb(66, 214, 49);
    background-color: rgb(219, 243, 213);
    border:1px solid rgb(195, 218, 190);
}
.pill.blue {
    color: rgb(60, 145, 255);
    background-color: rgb(223, 244, 255);
    border:1px solid rgb(203, 222, 232);
}
.pill.red {
    color: rgb(255, 60, 89);
    background-color: rgb(255, 223, 228);
    border:1px solid rgb(228, 200, 204);
}
body.dark .pill{
    filter: invert(1) hue-rotate(180deg) saturate(100%) saturate(200%);
}


.loading, .text{
    color: #ccc;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size:0.75em;
    padding:10px;
    display:flex;
    gap:10px;
    white-space: nowrap;
    user-select: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading{
    z-index:999;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: var(--background);
    display:flex;
    justify-content: center;
    align-items: center;
}


.content{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding:20px;
    overflow:hidden;
    height:100%;
}
.categories{
    display:flex;
    gap:10px;
    overflow:auto;
    max-height:100%;
    flex:1;
}
.category{
    display:flex;
    gap:10px;
    flex-direction: column;
    --color:var(--green);
    --color-dark:var(--green2);
    background:var(--color-dark);
    padding:10px;
    border-radius:15px;
    height:fit-content;
    width:max-content;
}
.category .entry{
    background:var(--color);
    padding:10px;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
    position:relative;
    overflow:hidden;
    width:max-content;
    min-width:100%;
    box-sizing: border-box;
}
.category .entry h1{
    font-size:1.5em;
    margin:0;
}
.category .entry p{
    margin:0;
}
.category .cat-title{
    font-size:0.8em;
    border-radius:1000px;
    background:var(--color);
    padding: 5px 10px 5px 20px;
    font-weight: bold;
    width:fit-content;
    position:relative;
    pointer-events: none;
    user-select: none;
}
.category .cat-title::after{
    content:"";
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    left:10px;
    width:10px;
    height:10px;
    background:var(--color-dark);
    border-radius:1000px;
    z-index:2;
}
.add-new-task{
    border:2px solid var(--color);
    background:var(--color-dark) !important;
    color:var(--color);
    user-select: none;
    cursor:pointer;
    box-sizing: border-box;
}

.svg-btn{
    width:50px;
    height:50px;
    cursor:pointer;
    padding:5px;
    border-radius:10px;
    transition: opacity 0.1s;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:var(--lighter-background-transparent);
}
.svg-btn:hover{
    opacity:0.9;
}
.svg-btn:active{
    opacity:0.8;
}
.svg-btn span{
    white-space: nowrap;
    font-size:0.5em;
}
.svg-btn svg{
    width:100%;
    height:100%;
    color:#ccc;
    transition: width 0.05s, height 0.05s;
}
.title{
    display:flex;
    gap:20px;
    align-items: center;
    width:100%;
    justify-content: space-between;
}


.modal-c{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.5);
    z-index:1000;
    display:flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    opacity:0;
    pointer-events: none;
    display:none;
}

.modal{
    background:var(--lighter-background-transparent);
    border:1px solid var(--lighter-background);
    padding:20px;
    border-radius:10px;
    min-width:50vw;
    min-height:30vh;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-between;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.modal h1{
    margin: 0;
}
.modal .up{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.modal button.primary{
    background:var(--dark-blue);
}
.modal .buttons{
    display:flex;
    gap:16px;
}

input[type="text"], .input, select, input[type="time"]{
    background:var(--lighter-background);
    border:1px solid var(--lighter-background);
    padding:10px;
    border-radius:10px;
    color:#ccc;
    font-size:1em;
    box-sizing: border-box;
}

input[type="text"]:focus, select:focus, .input:focus, input[type="time"]:focus{
    outline:none;
    border:1px solid var(--dark-blue);
}
.input-label{
    font-size:0.75em;
    color:var(--grey);
}







.autocomplete-items {
    margin-top:-10px;
    z-index: 99;
    border:1px solid var(--blue);
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--lighter-background);
}

.autocomplete-items div:hover {
    opacity: 0.8;
}

.autocomplete-active {
    background-color: var(--dark-blue) !important;
}

.category .btn{
    width:20px;
    height:20px;
    padding:0;
    border-radius:1000px;
    background:rgba(0,0,0,0.2);
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1;
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    transition: opacity 0.1s;
}
.category .btn svg{
    width:100%;
    height:100%;
}
.category .edit-task{
    right:40px;
}
.category .edit-task svg, .cat-title-c .edit-cat svg{
    transform:scale(0.7);
}

#drawflow {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--background);
    background-size: 25px 25px;
    background-image: radial-gradient(var(--lighter-background) 1px, transparent 0);
    border-radius:10px;
    border:1px solid var(--grey);
}


/* Editing Drawflow */

.drawflow .drawflow-node {
    background: var(--background);
    border: 1px solid var(--grey);
    -webkit-box-shadow: 0 2px 15px 2px var(--black);
    box-shadow: 0 2px 15px 2px var(--black);
    padding: 0px;
    width: max-content;
    min-width:200px;
    color:#ccc;
}
.drawflow .drawflow-node .drawflow_content_node{
    padding-inline: 20px;
}

.drawflow .drawflow-node.selected  {
    background: var(--lighter-background);
    border: 1px solid var(--dim-blue);
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow .drawflow-node.selected .title-box {
    color: #22598c;
}

.drawflow .connection .main-path {
    stroke: var(--blue);
    stroke-width: 3px;
}

.drawflow .drawflow-node .input, .drawflow .drawflow-node .output {
    border: 1px solid var(--grey);
    background:var(--background);
    box-sizing: border-box;
    width:24px;
    height:24px;
    top:0;
    bottom:0;
    margin: 0;
    position: absolute;
    transform:translateY(-50%);
}
.drawflow .drawflow-node .inputs,.drawflow .drawflow-node .outputs{
    position:relative;
}
.drawflow .drawflow-node .input:hover, .drawflow .drawflow-node .output:hover {
    background: var(--blue);
}

.drawflow .drawflow-node .output {
    right: -12px;
}

.drawflow .drawflow-node .input {
    left: -12px;
}

.drawflow-delete {
    border: 2px solid var(--red);
    background: var(--lighter-background);
    color: var(--red);
    -webkit-box-shadow: 0 2px 20px 2px var(--red);
    box-shadow: 0 2px 20px 2px var(--red);
}

.drawflow .title-box svg {
    position: initial;
}
.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #555555;

}
.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow-node input, .drawflow-node select, .drawflow-node textarea {
    border-radius: 4px;
    border: 1px solid var(--grey);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 158px;
    color: #555555;
}

.drawflow-node textarea {
    height: 100px;
}


.drawflow .connection .point {
    stroke: var(--grey);
    stroke-width: 2;
    fill: white;

}

.drawflow .connection:hover .main-path{
    stroke: var(--dim-blue);
}
.drawflow .connection .selected{
    stroke: var(--green) !important;
}

span.small-pill{
    padding: 2px 5px 2px 15px;
    border-radius: 1000px;
    font-size: 0.5em;
    position:relative;
}
span.small-pill::after{
    content:"";
    position:absolute;
    top:50%;
    transform: translate(-50%,-50%);
    left:8px;
    width:7px;
    height:7px;
    background:rgba(0,0,0,0.5);
    border-radius:1000px;
}
.drawflow .pert{
    display:flex;
    flex-direction: column;
    width:100%;
}
.drawflow .task-content{
    width:100%;
    overflow: hidden;
}
.drawflow_content_node > div{
    padding:5px;
    gap:4px !important;
}
.drawflow .task-content .task-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}



.datepicker {
    width: -moz-min-content;
    width: min-content;
}

.datepicker:not(.active) {
    display: none;
}

.datepicker-dropdown {
    position: absolute;
    z-index: 20;
    padding-top: 4px;
}

.datepicker-dropdown.datepicker-orient-top {
    padding-top: 0;
    padding-bottom: 4px;
}

.datepicker-picker {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: var(--lighter-background);
}

.datepicker-dropdown .datepicker-picker {
    box-shadow: 0 2px 3px var(--black), 0 0 0 1px var(--background);
}

.datepicker-main {
    flex: auto;
    padding: 2px;
}

.datepicker-footer {
    box-shadow: inset 0 1px 1px var(--grey2);
    background-color: var(--lighter-background);
}

.datepicker-title {
    box-shadow: inset 0 -1px 1px var(--grey2);
    background-color: var(--lighter-background);
    padding: 0.375rem 0.75rem;
    text-align: center;
    font-weight: 700;
    color: var(--blue);
}

.datepicker-controls {
    display: flex;
}

.datepicker-header .datepicker-controls {
    padding: 2px 2px 0;
}

.datepicker-controls .button {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 1px solid var(--grey);
    border-radius: 4px;
    box-shadow: none;
    background-color: var(--lighter-background);
    cursor: pointer;
    padding: calc(0.375em - 1px) 0.75em;
    height: 2.25em;
    vertical-align: top;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap;
    color: var(--blue);
    font-size: 1rem;
}

.datepicker-controls .button:focus,
.datepicker-controls .button:active {
    outline: none;
}

.datepicker-controls .button:hover {
    border-color: var(--blue);
    color: var(--dim-blue);
}

.datepicker-controls .button:focus {
    border-color: var(--dim-blue);
    color: var(--dim-blue);
}

.datepicker-controls .button:focus:not(:active) {
    box-shadow: 0 0 0 0.125em var(--blue-transparent);
}

.datepicker-controls .button:active {
    border-color: var(--blue2);
    color: var(--blue2);
}

.datepicker-controls .button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.datepicker-header .datepicker-controls .button {
    border-color: transparent;
    font-weight: bold;
}

.datepicker-header .datepicker-controls .button:hover {
    background-color: var(--lighter-background-transparent);
}

.datepicker-header .datepicker-controls .button:active {
    background-color: var(--background);
}

.datepicker-footer .datepicker-controls .button {
    flex: auto;
    margin: calc(0.375rem - 1px) 0.375rem;
    border-radius: 2px;
    font-size: 0.75rem;
}

.datepicker-controls .view-switch {
    flex: auto;
}

.datepicker-controls .prev-button,
.datepicker-controls .next-button {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
    flex: 0 0 14.2857142857%;
}

.datepicker-controls .prev-button.disabled,
.datepicker-controls .next-button.disabled {
    visibility: hidden;
}

.datepicker-view,
.datepicker-grid {
    display: flex;
}

.datepicker-view {
    align-items: stretch;
    width: 15.75rem;
}

.datepicker-grid {
    flex-wrap: wrap;
    flex: auto;
}

.datepicker .days {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.datepicker .days-of-week {
    display: flex;
}

.datepicker .week-numbers {
    display: flex;
    flex-direction: column;
    flex: 0 0 9.6774193548%;
}

.datepicker .weeks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: auto;
}

.datepicker span {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 4px;*/
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.datepicker .dow {
    height: 1.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--blue);
}

.datepicker .week {
    flex: auto;
    color: var(--grey);
    font-size: 0.75rem;
}

.datepicker-cell,
.datepicker .days .dow {
    flex-basis: 14.2857142857%;
}

.datepicker-cell {
    height: 2.25rem;
    background: var(--lighter-background);
    color: var(--blue);
    box-sizing: border-box;
    transition: background 0.1s, color 0.1s;
    box-shadow: var(--background) 0px 0px 0px 1px;
}

.datepicker-cell:not(.day) {
    flex-basis: 25%;
    height: 4.5rem;
}

.datepicker-cell:not(.disabled):hover {
    background-color: var(--blue-transparent);
    color: var(--background);
    cursor: pointer;
}

.datepicker-cell.focused:not(.selected) {
    background-color: var(--blue2);
    color: var(--background);
}

.datepicker-cell.selected,
.datepicker-cell.selected:hover {
    background-color: var(--blue);
    color: #fff;
    font-weight: 600;
}

.datepicker-cell.disabled {
    color: var(--grey2);
}

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) {
    color: var(--grey);
}

.datepicker-cell.prev.selected,
.datepicker-cell.next.selected {
    color: var(--lighter-background);
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
    border-radius: 0;
    background-color: var(--lighter-background);
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
    background-color: var(--blue-transparent);
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
    background-color: var(--blue2);
}

.datepicker-cell.today:not(.selected) {
    background-color: var(--dim-green);
}

.datepicker-cell.today:not(.selected):not(.disabled) {
    color: #fff;
}

.datepicker-cell.today.focused:not(.selected) {
    background-color: var(--green2);
}

.datepicker-cell.range-end:not(.selected),
.datepicker-cell.range-start:not(.selected) {
    background-color: var(--blue2);
    color: #fff;
}

.datepicker-cell.range-end.focused:not(.selected),
.datepicker-cell.range-start.focused:not(.selected) {
    background-color: var(--dim-blue);
}

.datepicker-cell.range-start:not(.range-end) {
    border-radius: 4px 0 0 4px;
}

.datepicker-cell.range-end:not(.range-start) {
    border-radius: 0 4px 4px 0;
}

.datepicker-cell.range {
    border-radius: 0;
    background-color: var(--blue-transparent);
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
    background-color: var(--dim-blue);
}

.datepicker-cell.range.disabled {
    color: var(--grey2);
}

.datepicker-cell.range.focused {
    background-color: var(--dim-blue);
}

.datepicker-input.in-edit {
    border-color: var(--dim-blue);
}

.datepicker-input.in-edit:focus,
.datepicker-input.in-edit:active {
    box-shadow: 0 0 0.25em 0.25em var(--blue-transparent);
}

.page-title{
    display:flex;
    justify-content: space-between;
}
.page-title > div{
    display:flex;
    gap:8px;
    justify-content: center;
    align-items: center;
}

 .checkbox-wrapper-22 .switch {
     display: inline-block;
     height: 34px;
     position: relative;
     width: 60px;
 }

.checkbox-wrapper-22 .switch input {
    display:none;
}

.checkbox-wrapper-22 .slider {
    background-color: var(--lighter-background);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
    background-color: #ccc;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

.checkbox-wrapper-22 input:checked + .slider {
    background-color: var(--blue);
}

.checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
}

.checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
}

.checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
}

.cat-title-c{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.cat-title-c .btn{
    position:relative;
    top:unset;
    right:unset;
}
.cat-title-c .btns{
    display:flex;
    gap:4px;
    margin-left:8px;
}
.select-project{
    display:flex;
    gap:16px;
}